.product-card {
  display: flex;
  align-items: center;
  justify-content:center ;
  gap:10px ;
  flex-direction: column;
  img{
    width: 295px;
    height: 298px;
    top: 1104px;
    left: 100px;
    border-radius: 20px;
    background-color:rgba(240, 238, 237, 1) ;
    object-fit: contain;

  }
  h5{
    font-weight: 700;
    font-family: 'Satoshi',sans-serif;
    font-size: 20px;

  }
  p{
   font-size: 24px; 
   font-weight: 900;
   font-family: 'Satoshi',sans-serif;
  }
 
  .rating {
    font-size:20px;
  }
  .rating-value {
    font-size: 0.9rem;
    vertical-align: middle;
    color: #000;
  }


  .btn-custom {
  width: 25%; // Desktop
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  border-radius: 25px;
  border: 1px solid rgb(231, 231, 231);

  &:hover {
    background-color: #000;
    color: #fff;
  }

  // Tablet
  @media (max-width: 992px) {
    width: 40%;
  }

  // Mobile
  @media (max-width: 576px) {
    width: 70%;
    font-size: 0.95rem;
  }

  // Small mobile
  @media (max-width: 400px) {
    width: 100%;
  }
}
}