.like{
    top: 991px;
    left: 518px;
    text-align: center;
    padding-top: 70px;
    h2{
        font-weight: 900;
        font-family: 'Integral CF',sans-serif;
        font-size: 48px;
        padding-bottom: 40px;        
        color: rgba(0, 0, 0, 1);  
    }

}